/* @charset "UTF-8"; */

a{
	text-decoration: none;
	color: #f1f1f1;
}
a:hover{
	background-color: #f1f1f1;
	color: #555f6d;
	border-radius: 2em;
}
section {
	text-align:center;
}
h2{
	padding: 1.6rem;
}
.table{
	display: flex;
	justify-content: center;
	align-items: center;
}
.table table, th, td{
	border: 1px solid #454545;
	border-collapse: collapse;
	padding: 5px;
}
table{
	width: 500px;
}
td input, select{
	float: left;
	padding: 0.3rem;
}
.btn{
	padding: 0.3rem;
}
.btn:hover{
	cursor: pointer;
}