@charset "UTF-8";

.btn{
	padding: 0.3rem;
}
a:hover, .btn:hover{
	cursor: pointer;
	opacity: 0.6;
}
section{
	width: 100%;
	
}

.title{
	margin: 2rem;
	font-size: 25px;
	font-weight: 900;
	text-align: center;
}
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-align: center;
}
.main{
	margin: 2rem;
}
table, th, td{
	border: 1px solid #333;
	border-collapse: collapse;
}
th, td{
	padding:0.5rem;
}
input, select{
	width: 40%;
	float: left;
	font-size: 15px;
	margin-right: 0.5rem;
}
.insertBox td{
	text-align: left;
}